{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_answer_list'|trans}}
{% endblock %}


{% block body %}
    <h1> {{ 'title_answer_list'|trans}} </h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'answer.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_date'|trans, 'answer.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'answer.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_content'|trans, 'answer.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_indication'|trans, 'answer.indication') }}</th>
                <th>{{ 'label_author'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ url('answer_create') }}" title="view" id="view_button">
                    {{ 'answer_create'|trans }}
                </a>
            {% endif %}
            {% if is_granted('ROLE_USER') == false %}
                <a href="{{ url('answer_add') }}" title="view" id="view_button">
                    {{ 'answer_add'|trans }}
                </a>
            {% endif %}

            {% for answer in pagination.items %}
                <tr>
                    <td>{{ answer.id }}</td>
                    <td>{{ answer.date|format_date('long')}}</td>
                    <td>{{ answer.title }}</td>
                    <td>{{ answer.content }}</td>
                    <td>{{ answer.indication }}</td>
                    {% if answer.nick is empty %}
                        <td>{{ answer.author.email }}</td>
                    {% else %}
                        <td>{{ answer.nick }}</td>
                    {% endif %}
                    <td>

                        <a href="{{ url('answer_show', {id: answer.id}) }}" title="view" id="view_button">
                            {{ 'action_view'|trans }}
                        </a>

                        {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN')  == false %}
                        <a href="{{ url('answer_edit', {id: answer.id}) }}" title="view" id="view_button">
                            {{ 'action_edit'|trans }}
                        </a>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <a href="{{ url('answer_delete', {id: answer.id}) }}" title="view" id="view_button">
                            {{ 'action_delete'|trans }}
                        </a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('answer_indication', {id: answer.id}) }}" title="view" id="view_button">
                                {{ 'action_indication'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            {% if not answer.question|length %}
                                <a href="{{ url('question_delete', {id: answer.question.id}) }}" title="view" id="view_button">
                                    {{ 'action_delete_question'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}

                       {#  <a href="{{ url('answer_index', {'filters_question_id' : answer.question.id}) }}" title="{{ answer.question.id }}" id="view_button">
                            {{ answer.question.id }}
                        </a>
                        #}

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}