{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_answer_list'|trans}}
{% endblock %}


{% block body %}
    <h1> {{ 'title_answer_list'|trans}} </h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'answer.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_date'|trans, 'answer.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_content'|trans, 'answer.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_indication'|trans, 'answer.indication') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in pagination.items %}
                <tr>
                    <td>{{ answer.id }}</td>
                    <td>{{ answer.date|format_date('long')}}</td>
                    <td>{{ answer.content }}</td>
                    <td>{{ answer.indication }}</td>
                    <td>
                        <a href="{{ url('answer_show', {id: answer.id}) }}" title="view" id="view_button">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}