{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_answer_details'|trans({'%id%': answer.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_answer_details'|trans({'%id%': question.id|default('')}) }}</h1>
    {% if answer is defined and answer|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ answer.question.id }}</dd>
            <dt>{{ 'label_date'|trans }}</dt>
            <dd>{{ answer.question.date|format_date('long') }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  answer.question.category.name }}</dd>
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{ answer.question.content }}</dd>
            <dt>{{ 'label_answer'|trans }}</dt>
            <dd>{{  answer.content }}</dd>
        </dl>
        <p>
            <a href="{{ url('question_index') }}" title="{{ 'action_back_to_list'|trans }}" id="view_button">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}