{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_question_list'|trans}}
{% endblock %}

{% block body %}
   <h1> {{ 'title_question_list'|trans}} </h1>
    {% if question is defined and question|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_question'|trans }}</th>
                <th>{{ 'label_title'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in question %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.content }}</td>
                <td>{{ question.date|date ('Y/m/d')}}</td>
                <td>
                    <a href="{{ url('question_show', {id: question.id}) }}" title="view" id="view_button">
                        {{ 'action_view'|trans }}
                    </a>
                </td>
                </td>
            </tr>
              {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'massage_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
