{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_delete'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_delete'|trans({'%id%': category.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'DELETE', action: url('category_delete', {id: category.id}) }) }}
    {{ form_widget(form) }}
    <p> Czy na pewno chcesz to usunąć? </p>
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" id="back_button" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('category_index') }}" id="back_button">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}